---
import MainLayout from "@/layouts/MainLayout.astro";
import Section from "@/components/Section.astro";
import Card from "@/components/partial/Card.astro";
import Grid from "@/components/Grid.astro";
import Hero from "@/components/Hero.astro";
import TourCard from "@/components/TrendTourCard.astro";
import toursData from "@/data/tours";
---

<MainLayout>
  <Hero
    subtitle="Making a special purchase?"
    title="Our special Directions"
    imageSrc="/images/bg/thorn.jpg"
  />

  <Section
    split
    title="Under construction"
    subtitle="I take body building to a whole new level"
  >
    <Fragment slot="end">
      <Card variant="default">
        <img
          src="/images/characters/lazy-peon.webp"
          alt="Thunder Bluff landscape "
        />
      </Card>
    </Fragment>
    <p>
      Welcome traveler! We apologize that this section is under construction. We
      are working to provide you with the most complete and useful tours
      possible.
    </p>
    <p>
      We value your time and try to make our pages as convenient and informative
      as possible. We thank you for your patience and understanding.
    </p>
  </Section>

  <Section
    centered
    title="Our trending tours"
    subtitle="I got the best deals anywhere"
  >
    <Grid hasTourCards>
      {
        toursData.slice(3, 5).map((tour) => (
          <Card variant="tour">
            <TourCard
              slug={tour.slug}
              image={tour.image}
              name={tour.name}
              location={tour.location}
              text={tour.text}
              price={tour.price}
              rating={tour.rating}
              available={tour.available}
            />
          </Card>
        ))
      }
    </Grid>
  </Section>
</MainLayout>
